@import '../../styles/variables';

.primaryModal{
    position: relative;
    margin: auto;
    max-width: 578px;
    width: 100%;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    height: 205px;
    &::backdrop{
        background-color: rgba(0,0,0, .5);
    }

    @media screen and (max-width: 680px) {
        width: 80%;
        height: max-content;
    }

    p{
        padding-top: 40px;
        padding-bottom: 10px;
        font-size: 24px;
        color: $primary-color;
        @media screen and (max-width: 680px) {
            text-align: center;
        }
    }
    &_form{
        display: flex;
        flex-direction: column;
        gap: 7px;
        /* @media screen and (max-width: 680px) {
            width: 80%;
        } */
        >div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: end;
            @media screen and (max-width: 680px) {
                grid-template-columns: 1fr;
                gap: 10px;
                label{
                    margin: 0 auto;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            input{
                padding-left: 10px;
                max-width: 265px;
                height: 37px;
                width: 100%;
                border: none;
                outline:1px solid $primary-color;
                border-radius: 6px;
            }
        }
    }

    &_closebtn{
        position: absolute;
        top:16px;
        right:20px;
        width: 15px;
        height: 15px;

        &:hover{
            cursor:pointer;
        }
        
        &::before,
        &::after {
            position: absolute;
            right: 0;
            top:16px;
            content: '';
            width: 30px;
            height: 2px; 
            background-color: $primary-color;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}