@import '../../styles/variables';
.embla__slide {
    max-width: 467px;
    display: flex;
    justify-content: center;
    max-height: 553px;
    height: 100%;
    min-width: 0;
    flex: 0 0 45%;
    
    &__content{
        position: relative;
        max-width: 417px;
        height: 100%;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(255,171,159,0.4);
        -moz-box-shadow: 0px 0px 20px 0px rgba(255,171,159,0.4);
        box-shadow: 0px 0px 20px 0px rgba(255,171,159,0.4);
        &:hover{
            cursor: pointer;
        }    
        &__petState{
            position: absolute;
            top:20px;
            right:20px;
            width: 131px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F86262;
            color: white;
            border-radius: 5px;
        }
        &__img{
            width: 100%;
            max-height: 268px;
        }

        &__copy{
            position: relative;
            padding:20px 30px 0;
            height: 260px;
            
            &__lastSeen{
                position: absolute;
                display: flex;
                align-items: center;
                gap: 5px;
                color: #818181;
                font-size: 15px;
                bottom: 14px;

                &__img{
                    width: 18px;
                    height: 18px;
                }
            }


            h4{
                font-size: 30px;
                color: $secondary-color;
                margin-bottom: 10px;
            }

            p{
                font-size: 15px;
            }

            &__tables{
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
            }
        
            table {
                border-collapse: collapse;
                font-family: sans-serif;
                font-size: 0.8rem;
                letter-spacing: 1px;
                max-width: 161px;
                width: 100%;
                font-size: 13px;

                tbody{
                    width: 100%;
                }
                
              }
              
              
              th,
              td {
                border: 1px solid rgb(160 160 160);
                padding: 0px 10px;
                text-align: left;
                font-weight: 400;
              }

              th{
                width: 124px;
              }

              td{
                width: 38px;
              }
              
        }
    }
  }