@import '../../styles/variables';
.header{
    border-radius: 39px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(255, 171, 159,.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 591px;
    align-items: center;
    padding: 0 30px;
    @media screen and (max-width: 1150px) {
        margin: 0 50px;
    }

    h1{
        color: $primary-color;
        margin-bottom: 19px;
    }

    &_img{
        max-width: 513px;
        height: auto;
    }
    p{
        margin-bottom: 20px;
    }
}

.carouselsSections{
    margin: 0 auto;
    outline: 1px solid red;
    max-width: 1200px;
}