@import '../../styles/variables';
.header{
    position: relative;
    border-radius: 39px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(255, 171, 159,.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 591px;
    align-items: center;
    padding: 0 30px;
    width: 90%;

    @media screen and (max-width: 940px) {
        display: flex;
        gap:20px;
        align-items: center;
        min-height: 480px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: unset;
    }

    h1{
        color: $primary-color;
        margin-bottom: 19px;
    }

    &__text{
        z-index: 2;
    }

    &_img{
        max-width: 513px;
        width: 100%;
        height: auto;
        z-index: 1;
        @media screen and (max-width: 940px) {
            width: 59%;
            position: absolute;
            bottom:-68px;
            right: 0;
           
        }
    }
    p{
        margin-bottom: 20px;
    }

    button{
        color: white;
    }

    
}

.gridBlogLinks{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.carouselsSections{
    position: relative;
    margin: 155px auto 0;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 17px;

    @media screen and (max-width: 1250px) {
        max-width: 90%;
    }

    .carouselHuella{
        width: 151px;
        height: 133px;
        position: absolute;
        top: -50px;
        left: -80px;

        @media screen and (max-width: 1250px) {
            top: -55px;
            left: -83px;
        }
        @media screen and (max-width: 700px) {
            top:0;
            left: -61px;
        }
        @media screen and (max-width: 350px) {
            top:50px;
            left: -50px;
        }
    }

    h3{
        position: absolute;
        z-index: 1;
        top: -50px;
        left: 90px;
        color: $secondary-color;
        font-size: 50px;
        @media screen and (max-width: 700px) {
            font-size: 30px;
            position: relative;
            width: 100%;
            text-align: center;
            top:0;
            left:0;
            padding: 0;
            margin:0;
        }
    }

    &__viewAll{
        color: #F86262;
        font-size: 20px;
    }
}