@import '@/styles/variables';

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 45px;

    @media screen and (max-width: 1200px) {
        padding: 0 10px;
    }

    .sidebar{
        min-width: 296px;
        width: 296px;
        max-width: 296px;
        height: 317px;
        background-color: #FFD6D0;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding-left: 30px;
        div:hover{
            cursor: pointer;
        }
        .active{
            color: #F86262;
            font-weight: bold;
        }
    }

    .main_content{
        width: 100%;
        max-width: 864px;
        border-radius: 30px;
        min-height: 744px;
        padding: 16px 36px;

        .profilePanel{
            .title, .salutation{
                padding-bottom: 10px;

                
            }
            .salutation{
                font-size: 20px;
                .colored{
                    color:#F86262;
                }
            }
            .description{
                padding-bottom: 40px;
            }
        }

        .account_information{

            .subTitle{
                padding-bottom: 10px;
                font-size: 24px;
            }

            .columns{
                display: flex;
                gap: 15px;
                @media screen and (max-width: 865px) {
                    flex-direction: column;
                }
                p{
                    width: 50%;
                    @media screen and (max-width: 865px) {
                        width: 100%;
                    }
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid black;
                    .editBtn{
                        color: #F86262;
                        text-decoration: underline;
                    }
                }
            }
        }


        .publicaciones{
            .columns{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .carouselItemContainer{
                    width: 100%;
                    max-width: 410px;
                    text-decoration: none;
                    color: black;
                }
            }
        }


        .perfil{
            h2,h1{
                margin-bottom: 21px;
            }
            h2{
                margin-top: 21px;
            }
            p{
                margin-bottom: 10px;
            }
            
        }

        .notificaciones{

            h1{
                margin-bottom: 35px;
            }

            >p{
                margin-bottom: 20px;
            }

            .nuevaNoti{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .acordionContainer{
                    margin-top: 42px;
                    width: 221px;
                    /* Style the buttons that are used to open and close the accordion panel */
                    .accordion {
                        background-color: #eee;
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        color: #444;
                        cursor: pointer;
                        padding: 13px;
                        text-align: left;
                        border: none;
                        outline: none;
                        width: 100%;
                        transition: 0.4s;
                        display: flex;
                        justify-content: space-between;
                        font-weight: bold;
                    }
                    
                    
                    
                    /* Style the accordion panel. Note: hidden by default */
                    .panel {
                        padding: 0 10px;
                        background-color: white;
                        display: none;
                        overflow: hidden;
    
                        label{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px 0;
                            font-size: 16px;
                            display: block;
                        }
                    }
    
                    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
                    .active {
                        background-color: #ccc;
                        display: block;
                    }
    
                   
                }
    
                .tags{
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                    .tag{
                        width: 132px;
                        height: 31px;
                        border-radius: 25px;
                        background-color: grey;
                    }
                }
            }

            
            
        }

    }
}