@import '@/styles/variables';

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.reportar{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mapContainer{
        max-width: 1200px;
        width: 100%;
        >div{
            width: 100% !important;
        }
    }

    &__steps{
        @media screen and (max-width: 600px) {
            margin: 0 10px;
        }
        h2{
            width: 100%;
            font-size: 30px;
            color: $primary-color;
            margin-bottom: 20px;
        }

        &__buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            flex-wrap: wrap;

            button:last-of-type{
                margin-left: auto;
            }

            @media screen and (max-width: 500px) {
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin: 100px 10px;
                button{
                    width: 100%;
                    margin:0 auto;
                }
            }
        }

        &__one{
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
            h2{
                width: 100%;
                font-size: 30px;
                color: $primary-color;
                margin-bottom: 20px;
            }

            label{
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }

        &__two{
            input[type="file"]{
                display: block;
                width: 100%;
                margin-bottom: 20px;
            }
            
            &__images{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
            }
            img{
                width: 100px;
                height: auto;
                border: 1px solid;
            }
        }

        &__three{
            >div{
                display: flex;
                flex-direction: column;
                gap:20px;
            }
        }
    }
}