$primary-color: #FFAB9F;
$secondary-color: #EB7971;
$soft-shadow: #F0DEDB;
$green-color: #54AF45;
$orange-color:#EBBA71;
$red-color: #F86262;
$gray-color: #808080;
$darkgray-color: #414040;

$desktop-width: 1200px;
$ipad-witdh: 800px;
$movile_witdh: 375px;

$title_size: 2rem;
$subtTitle_size: 1.5rem;
$paragraph_size: 1rem;
$smallletters_size: .7rem;
