@import '../../styles/variables';

.container {
    padding: 20px 0;
    *{
        text-decoration: none;
        color: black;
    }
}
.carouselTitle{
    position: absolute;
    top:-50px;
    left: 90px;
    color: $secondary-color;
    font-size: 35px;
}

  