@import '../../styles/variables';
.embla {
    overflow: hidden;
    margin: auto;
    margin-top: 155px;
    max-width: 1200px;

    &__viewport{
        position: relative;
        padding-top: 66px;
        &__prev, &__next{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 57px;
            height: 57px;
            background-color: $secondary-color;
            border-radius: 50%;
            color: white;
            border: none;
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
        &__prev{
            position: absolute;
            right: 80px;
            top:0;
        }

        &__next{
            position: absolute;
            right: 0;
            top:0;
        }

        h3{
            position: absolute;
            top:0;
            color: $secondary-color;
            font-size: 35px;
        }
    }
  }
  .embla__container {
    display: flex;
    justify-content: space-between;
    height: 560px;
  }
  